{% extends "base.html" %}
{% load i18n simple_translation_tags %}

{% block main %}
<h1>{% trans "Roadmap" %}</h1>
{% for milestone in milestone_list %}
    {% with milestone|get_preferred_translation_from_request:request as milestone_trans %}
    <h2>{{ milestone_trans.name }}</h2>
    {% endwith %}
    <table class="table table-condensed roadmap">
        <tbody>
            {% for event in milestone.events.all %}
                <tr>
                    {% with event|get_preferred_translation_from_request:request as event_trans %}
                    <td>{{ event_trans.start_date_text|safe }}</td>
                    <td>{{ event_trans.title|safe }}</td>
                    {% endwith %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
{% endblock %}
